* {
	margin: 0;
	padding: 0;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #eff2f4 !important;
}

ul {
	list-style: none;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.flex-align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.text-center {
	text-align: center !important;
}

.flex-pack-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flex-pack-justify {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.bgwhite {
	background: #FFFFFF;
}


/*基础css，参考bootstrap*/

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.margin {
	margin: 1.6rem
}

.margin-0 {
	margin: 0!important
}

.margin-xs {
	margin: .5rem
}

.margin-sm {
	margin: 1rem
}

.margin-lg {
	margin: 2.4rem
}

.margin-xl {
	margin: 3.2rem
}

.margin-top {
	margin-top: 1.6rem
}

.margin-top-0 {
	margin-top: 0!important
}

.margin-top-xs {
	margin-top: .5rem
}

.margin-top-sm {
	margin-top: 1rem
}

.margin-top-lg {
	margin-top: 2.4rem
}

.margin-top-xl {
	margin-top: 3.2rem
}

.margin-bottom {
	margin-bottom: 1.6rem
}

.margin-bottom-0 {
	margin-bottom: 0!important
}

.margin-bottom-xs {
	margin-bottom: .5rem
}

.margin-bottom-sm {
	margin-bottom: 1rem
}

.margin-bottom-lg {
	margin-bottom: 2.4rem
}

.margin-bottom-xl {
	margin-bottom: 3.2rem
}

.margin-left {
	margin-left: 1.6rem
}

.margin-left-0 {
	margin-left: 0!important
}

.margin-left-xs {
	margin-left: .5rem
}

.margin-left-sm {
	margin-left: 1rem
}

.margin-left-lg {
	margin-left: 2.4rem
}

.margin-left-xl {
	margin-left: 3.2rem
}

.margin-right {
	margin-right: 1.6rem
}

.margin-right-0 {
	margin-right: 0!important
}

.margin-right-xs {
	margin-right: .5rem
}

.margin-right-sm {
	margin-right: 1rem
}

.margin-right-lg {
	margin-right: 2.4rem
}

.margin-right-xl {
	margin-right: 3.2rem
}

.padding {
	padding: 1.6rem
}

.padding-0 {
	padding: 0!important
}

.padding-xs {
	padding: .5rem
}

.padding-sm {
	padding: 1rem
}

.padding-lg {
	padding: 2.4rem
}

.padding-xl {
	padding: 3.2rem
}

.padding-top {
	padding-top: 1.6rem
}

.padding-top-0 {
	padding-top: 0!important
}

.padding-top-xs {
	padding-top: .5rem
}

.padding-top-sm {
	padding-top: 1rem
}

.padding-top-lg {
	padding-top: 2.4rem
}

.padding-top-xl {
	padding-top: 3.2rem
}

.padding-bottom {
	padding-bottom: 1.6rem
}

.padding-bottom-0 {
	padding-bottom: 0!important
}

.padding-bottom-xs {
	padding-bottom: .5rem
}

.padding-bottom-sm {
	padding-bottom: 1rem
}

.padding-bottom-lg {
	padding-bottom: 2.4rem
}

.padding-bottom-xl {
	padding-bottom: 3.2rem
}

.padding-left {
	padding-left: 1.6rem
}

.padding-left-0 {
	padding-left: 0!important
}

.padding-left-xs {
	padding-left: .5rem
}

.padding-left-sm {
	padding-left: 1rem
}

.padding-left-lg {
	padding-left: 2.4rem
}

.padding-left-xl {
	padding-left: 3.2rem
}

.padding-right {
	padding-right: 1.6rem
}

.padding-right-0 {
	padding-right: 0!important
}

.padding-right-xs {
	padding-right: .5rem
}

.padding-right-sm {
	padding-right: 1rem
}

.padding-right-lg {
	padding-right: 2.4rem
}

.padding-right-xl {
	padding-right: 3.2rem
}

.blue {
	color: #3c8cd6;
}

.green {
	color: #3fbf4c;
}

.red {
	color: #ff5e68;
}

.gray {
	color: #9c9c9c;
}

.green_bg {
	background-color: #3fbf4c;
}

.red_bg {
	background-color: #ff5e68;
}

.gray_bg {
	background-color: #9c9c9c;
}

.text-align {
	text-align: center;
}

.eye-icon {
	vertical-align: sub;
}

.eye-icon svg {
	width: 16px;
}

.clear {
	clear: both;
}

.clear:after {
	content: '';
	clear: both;
	overflow: hidden;
	height: 0;
	display: block;
}

.margin-left-2x {
	margin-left: .2rem;
}

.margin-top-4c {
	margin-top: .04rem;
}

.width10 {
	width: 10%;
}

.width85 {
	width: 85%;
}

::-webkit-scrollbar {
	display: none
}

.yd-tab-panel {
	background-color: transparent;
}

.seach-account-multiple svg,
.seach-message-processing svg {
	width: 14px;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
	opacity: 0;
}

.iblack {
	color: #101010 !important;
}

.el-loading-mask{
	position: fixed;
}
